.deadmouse-focused {
  display: inline-block;
  -webkit-animation: flash 1s infinite;
}

.deadmouse-clicked {
  position: relative;
  -webkit-animation: bounce 0.3s ease infinite alternate backwards;
}

@-webkit-keyframes flash {
  0% { color: #fff; }
  50% { color: #000 }
}

@-webkit-keyframes bounce {
  0%   { top: 0px;  }
  100%  { top: -5px; }
}